__pycache__/
dist/
*.py[cod]
*$py.class
*.hdf5
*.egg-info/
.DS_Store
.idea/
.ruff_cache/
.vscode/
debug_video/
*.mp4
*.pkl

# Training outputs
exp/
wandb/

# Data files
data/
*.csv

# Notebooks
*.ipynb
.ipynb_checkpoints/

# Installer binaries
Miniconda3-*.sh
